<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title>semi project index.html</title>
</head>

<body>

<th:block layout:fragment="content">
    <h1>방명록관리</h1>
</th:block>

<th:block layout:fragment="pageCustomScript">
    <script th:src="@{/js/index.js}"></script>
</th:block>
<!--<th:block layout:fragment="pageCustomCss">-->
<!--    <script th:src="@{/assets/vendor/jquery/jquery.css}"></script>-->
<!--</th:block>-->
</body>
</html>